@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
};

body{
    background-color: #162831;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3160ac;
    max-width: 100%;
    .header-menu{
        list-style: none;
        display: flex;
        padding-left: 150px;
        a{
            text-decoration: none;
            font-size: 18px;
            color: aliceblue;
            transition: color .3s;
            &:hover{
                color: #a3afff;
            }
        }
      .header-menu-item:not(:last-child){
        padding-right: 30px;
      }
    }
    
    .header-logo{
        max-width: 5rem;
        max-height: 5rem;
        margin-top: 15px;
    }
    .btn{
        display: inline-block;
        background: #65a4fd; 
        color: #f6f6f6; 
        padding: 1rem 1.5rem; 
        text-decoration: none; 
        border-radius: 3px;
        margin-left: 100px;
    }
    .contacts{
        margin: 0 150px;
        a{
            text-decoration: none;
            color: #ececec;
            transition: color .5s;
            &:hover{
                color: #8d9cff;
            }
        }
        p{
            padding: 5px 0;
        }
    }
}

h1{
    font-size: 64px;
    text-align: center;
    color: #ececec;
    margin-top: 150px;
}