@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 400;
}

body {
  background-color: #162831;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #a3afff;
}
.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger span:nth-child(1) {
  transform: translateY(-10px);
}

.burger span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger span:nth-child(2) {
  opacity: 0;
}

.header.open .burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3160ac;
  max-width: 100%;
}
.header .header-menu {
  list-style: none;
  display: flex;
  padding-left: 150px;
}
.header .header-menu a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
  transition: color 0.3s;
}
.header .header-menu a:hover {
  color: #a3afff;
}
.header .header-menu .header-menu-item:not(:last-child) {
  padding-right: 30px;
}
.header .header-logo {
  max-width: 5rem;
  max-height: 5rem;
  margin-top: 15px;
}
.header .btn {
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 100px;
}
.header .contacts {
  margin: 0 150px;
}
.header .contacts a {
  text-decoration: none;
  color: #ececec;
  transition: color 0.5s;
}
.header .contacts a:hover {
  color: #8d9cff;
}
.header .contacts p {
  padding: 5px 0;
}

.active {
  color: #a3afff;
}

.icon {
  height: 28px;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  text-align: center;
  position: relative;
  text-align: center;
  font-family: El Messiri;
}
.about .title {
  display: flex;
  color: #ececec;
  height: 200px;
  margin-top: 145px;
  position: absolute;
}
.about .title img {
  height: 28px;
}
.about h1 {
  color: #ececec;
  position: absolute;
  margin-top: 255px;
  font-size: 64px;
}
.about h2 {
  padding: 0 80px;
}
.about .text {
  font-size: 26px;
  padding-top: 253px;
}
.about p {
  color: #ececec;
  position: absolute;
}

.about_me {
  max-width: 81rem;
  margin: 0 auto;
}
.about_me .title {
  display: flex;
  justify-content: center;
  color: #ececec;
  margin-top: 90px;
}
.about_me .title h2 {
  margin: 0 95px;
}
.about_me .description {
  color: #ececec;
  text-align: center;
  font-size: 24px;
  border: #018ABE 3px solid;
  border-radius: 5px;
  max-width: 81rem;
  margin: 70px auto;
  padding: 1.5rem 1.5rem;
}
.about_me .certificates {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  position: relative;
}
.about_me .certificates img {
  transform: scale(1);
  transition: transform 0.4s;
}
.about_me .certificates img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}
.about_me .certificates #skills {
  width: 33rem;
  height: 35rem;
}
.about_me .certificates #school {
  width: 30rem;
  height: 35rem;
}

.services {
  color: #ececec;
  margin-top: 104px;
}
.services .title {
  display: flex;
  justify-content: center;
}
.services h2 {
  margin: 0 147px 0 147px;
  height: 50px;
  justify-self: center;
}
.services .content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.services .content .card_1 {
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}
.services .content .card_1:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.services .content .card_1 p {
  color: #ececec;
  position: absolute;
  font-size: 24px;
  top: 478px;
  left: 21px;
}
.services .content .card_1 img {
  margin-right: 24px;
  margin-bottom: 24px;
}
.services .content .box {
  display: flex;
  flex-wrap: wrap;
  width: 55rem;
}
.services .content .card_2 {
  height: 260px;
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}
.services .content .card_2:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.services .content .card_2 p {
  color: #ececec;
  position: absolute;
  font-size: 24px;
  top: 193px;
  left: 40px;
}
.services .content .card_2 img {
  margin-right: 24px;
}
.services .content .card_3 {
  height: 260px;
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}
.services .content .card_3:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.services .content .card_3 p {
  color: #ececec;
  position: absolute;
  font-size: 24px;
  top: 193px;
  left: 40px;
}
.services .content .card_3 img {
  margin-right: 24px;
}
.services .content .card_4 {
  height: 260px;
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}
.services .content .card_4:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.services .content .card_4 p {
  color: #ececec;
  position: absolute;
  font-size: 24px;
  top: 193px;
  left: 40px;
}
.services .content .card_4 img {
  margin-right: 24px;
}
.services .content .card_5 {
  height: 260px;
  position: relative;
  transform: scale(1);
  transition: transform 0.4s;
}
.services .content .card_5:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}
.services .content .card_5 p {
  color: #ececec;
  position: absolute;
  font-size: 24px;
  top: 193px;
  left: 40px;
}
.services .content .card_5 img {
  margin-right: 24px;
}

.work .title {
  display: flex;
  justify-content: center;
  color: #ececec;
  margin-top: 63px;
}
.work .title h2 {
  margin: 0 51px;
}
.work .container {
  max-width: 76rem;
  max-height: 50rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 80px;
  flex-wrap: wrap;
}
.work .container .main-img {
  position: relative;
}
.work .container .card_1 {
  position: relative;
}
.work .container .card_1 p {
  font-size: 22px;
  color: #ececec;
  margin-top: 30px;
  margin-left: -90px;
}
.work .container .card_1 .number_bg {
  position: absolute;
  top: 64px;
  right: 467px;
}
.work .container .card_1 .numb {
  position: absolute;
  top: 82px;
  right: 500px;
}
.work .container .card_2 {
  position: relative;
}
.work .container .card_2 p {
  font-size: 22px;
  color: #ececec;
  margin-top: 30px;
  margin-right: 5px;
}
.work .container .card_2 .number_bg {
  position: absolute;
  top: 64px;
  right: 375px;
}
.work .container .card_2 .numb {
  position: absolute;
  top: 82px;
  right: 407px;
}
.work .container .card_3 {
  position: relative;
  margin-top: 50px;
}
.work .container .card_3 p {
  font-size: 22px;
  color: #ececec;
  margin-top: 30px;
  margin-left: -28px;
}
.work .container .card_3 .number_bg {
  position: absolute;
  top: 64px;
  right: 375px;
}
.work .container .card_3 .numb {
  position: absolute;
  top: 82px;
  right: 407px;
}
.work .container .card_4 {
  position: relative;
  margin-top: 50px;
}
.work .container .card_4 p {
  font-size: 22px;
  color: #ececec;
  margin-top: 30px;
  margin-left: -11px;
}
.work .container .card_4 .number_bg {
  position: absolute;
  top: 64px;
  right: 360px;
}
.work .container .card_4 .numb {
  position: absolute;
  top: 82px;
  right: 395px;
}

.feedback .title {
  display: flex;
  justify-content: center;
  color: #ececec;
  margin-top: 90px;
}
.feedback .title h2 {
  margin: 0 45px;
}
.feedback .swiper {
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  max-width: 81rem;
  margin-bottom: 160px;
}
.feedback .swiper h3 {
  font-family: ABeeZee;
  font-size: 20px;
  color: #f6f6f6;
  padding: 46px 60px 20px;
}
.feedback .swiper p {
  font-family: ABeeZee;
  font-size: 14px;
  color: #f6f6f6;
  padding: 0 60px;
}
.feedback .swiper .swiper-pagination-bullet {
  border-radius: 15%;
  background-color: #ececec;
}
.feedback .swiper .swiper-slide {
  background-color: #3160ac;
  height: 15rem;
}

.assurance {
  display: flex;
  justify-content: space-around;
  background-color: rgba(152, 201, 220, 0.5176470588);
  margin: 0 auto;
  font-family: Roboto;
  max-width: 81rem;
  height: 7rem;
}
.assurance .points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 18rem;
}
.assurance .points p {
  font-size: 24px;
}
.assurance .points img {
  margin-right: 25px;
  max-width: 3.75rem;
  max-height: 3.75rem;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 81rem;
  margin: 0 auto;
}
.location h3 {
  font-family: El Messiri;
  font-weight: 700;
  color: #ececec;
}
.location p {
  color: #ececec;
  font-family: ABeeZee;
  font-weight: 700;
}
.location img {
  margin-right: 20px;
}
.location .container {
  display: flex;
  flex-direction: column;
  margin-top: 190px;
}
.location .info .address {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.location .info .subway {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.location .info .order {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.location .request {
  display: flex;
  flex-direction: column;
  width: 29.375rem;
  margin-top: 40px;
}
.location .request textarea {
  margin-top: 20px;
  width: 28.938rem;
  height: 8.75rem;
  padding: 1rem 1.5rem;
}
.location .request textarea::-moz-placeholder {
  font-size: 14px;
}
.location .request textarea::placeholder {
  font-size: 14px;
}
.location .request input {
  width: 13.75rem;
  height: 2.5rem;
  padding: 0.3rem 0.2rem;
}
.location .request input::-moz-placeholder {
  font-size: 14px;
}
.location .request input::placeholder {
  font-size: 14px;
}
.location .request button {
  background: #34547A;
  color: #f6f6f6;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
.location .request button:hover {
  color: #34547A;
  background-color: #f6f6f6;
  border: 1px solid #34547A;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #3160ac;
  max-width: 100%;
  min-height: 10rem;
  text-align: left;
  margin-top: 160px;
  color: #ececec;
  font-size: 14px;
}

#submit {
  font-size: 64px;
}

@media screen and (max-width: 990px) {
  .burger {
    display: block;
    z-index: 2;
    position: absolute;
    right: 65px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .btn {
    display: none;
  }
  .header .header-nav {
    position: absolute;
    right: -350px;
    top: 0;
    padding: 50px 50px 20px 20px;
    width: 350px;
    background-color: #65a4fd;
    z-index: 1;
    transition: transform 0.5s;
  }
  .header .header-menu {
    flex-direction: column;
    padding: 0 75px;
  }
  .header .header-menu a {
    font-size: 32px;
    display: block;
    padding: 10px 0;
  }
  .header.open .header-nav {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */