@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

* { margin: 0; padding: 0; };

.wrapper{
    max-width: 2000px;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 400;
}
body{
    background-color: #0e2547;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3160ac;
    width: 100%;
    .header-menu{
        list-style: none;
        display: flex;
        padding-left: 150px;
        a{
            text-decoration: none;
            font-size: 18px;
            color: aliceblue;
            &:hover{
                color: #a3afff;
            }
        }
      .header-menu-item:not(:last-child){
        padding-right: 30px;
      }
    }
    
    .header-logo{
        max-width: 5rem;
        max-height: 5rem;
    }
    .btn{
        display: inline-block;
        background: #65a4fd; 
        color: #f6f6f6; 
        padding: 1rem 1.5rem; 
        text-decoration: none; 
        border-radius: 3px;
        margin-left: 100px;
    }
}

.about{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    text-align: center;
    position: relative;
    text-align: center;
    font-family: El Messiri;
    .title{
        display: flex;
        color: #ececec;
        height: 200px;
        margin-top: 145px;
        position: absolute;
        img{
            height: 28px;
        }
        
    }
    h1{
        color: #ececec;
        position: absolute;
        margin-top: 255px;
        font-size: 64px;
    }
    h2{
        padding: 0 80px;
    }
    .text{
        font-size: 26px;
        padding-top: 253px;
    }
    p{
        color: #ececec;
        position: absolute;
    }
}

.description{
    color: #ececec;
    text-align: center;
    font-size: 24px;
    border: #018ABE 3px solid;
    border-radius: 5px;
    width: 81rem;
    margin: 70px auto;
    padding: 1.5rem 1.5rem;
}

.services{
    color: #ececec;
    margin-top: 104px;
    .title{
        display: flex;
        justify-content: center;
    }
    .icon{
        height: 28px;
    }
    h2{
        margin: 0 147px 0 147px;
        height: 50px;
        justify-self: center;
    }
    .content{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        // width: 81rem;
        .card_1{
            position: relative;
            p{
                color: #ececec;
                position: absolute;
                font-size: 24px;
                top: 478px;
                left: 21px;
            }
            img{
          
                margin-right: 24px;
                margin-bottom: 24px;
            }
        }
        .box{
            display: flex;
            flex-wrap: wrap;
            width: 55rem;
        }
        .card_2{
            height: 260px;
            position: relative;
            p{
                color: #ececec;
                position: absolute;
                font-size: 24px;
                top: 193px;
                left: 40px;
            }
            img{
                margin-right: 24px;
            }
        }
        .card_3{
            height: 260px;
            position: relative;
            p{
                color: #ececec;
                position: absolute;
                font-size: 24px;
                top: 193px;
                left: 40px;
            }
            img{
                margin-right: 24px;
            }
        }
        .card_4{
            height: 260px;
            position: relative;
            p{
                color: #ececec;
                position: absolute;
                font-size: 24px;
                top: 193px;
                left: 40px;
            }
            img{
                margin-right: 24px;
            }
        }
        .card_5{
            height: 260px;
            position: relative;
            p{
                color: #ececec;
                position: absolute;
                font-size: 24px;
                top: 193px;
                left: 40px;
            }
            img{
                margin-right: 24px;
            }
        }
    }
}

.work{
    .title{
        display: flex;
        justify-content: center;
        color: #ececec;
        margin-top: 63px;
        h2{
            margin: 0 51px;
        }
    }
    .container{
        max-width: 76rem;
        max-height: 50rem;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 80px;
        flex-wrap: wrap;
        .main-img{
            position: relative;
        }
        .card_1{
            position: relative;
            p{
                font-size: 20px;
                color: #ececec;
                margin-top: 30px;
                margin-left: -90px;
            }
            .number_bg{
                position: absolute;
                top: 64px;
                right: 410px;
            }
            .numb{
                position: absolute;
                top: 82px;
                right: 440px;
            }
        }
        .card_2{
            position: relative;
            p{
                font-size: 20px;
                color: #ececec;
                margin-top: 30px;
            }
            .number_bg{
                position: absolute;
                top: 64px;
                right: 375px;
            }
            .numb{
                position: absolute;
                top: 82px;
                right: 407px;
            }
        }
        .card_3{
            position: relative;
            margin-top: 50px;
            p{
                font-size: 20px;
                color: #ececec;
                margin-top: 30px;
            }
            .number_bg{
                position: absolute;
                top: 64px;
                right: 375px;
            }
            .numb{
                position: absolute;
                top: 82px;
                right: 407px;
            }
        }
        .card_4{
            position: relative;
            margin-top: 50px;
            p{
                font-size: 20px;
                color: #ececec;
                margin-top: 30px;
            }
            .number_bg{
                position: absolute;
                top: 64px;
                right: 360px;
            }
            .numb{
                position: absolute;
                top: 82px;
                right: 395px;
            }
        }
    }
}











.popup{
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    font-size: 24px;
    position: fixed;
    background-color: rgb(0 0 0 / 32%);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    .open{
        opacity: 1;
        visibility: visible;
    }
    .open .popup_content {
        transform: perspective(600px) translate(0px, 0%) rotate(0deg);
        opacity: 1;
    }
    img{
        position: absolute;
        left: 465px;
        top: 5px;
    }
    .popup_title{
        padding: 10px 0 30px 0;
        color: #ececec;
    }
    .popup_body{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 30px 10px;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            border-radius: 1%;
            input{
                width: 25rem;
                border-radius: 5px;
                border: 1px solid #000;
                font-size: 20px;
                padding-left: 5px;
            }
            input:not(:last-child){
                margin-bottom: 20px ;
            }
            textarea{
                width: 25rem;
                border-radius: 5px;
                margin-bottom: 20px;
            &::placeholder{
                padding-left: 5px;
                font-size: 20px;
            }
            }
            button{
                width: 15rem;
                border-radius: 15px;
                background-color: #122348;
                cursor: pointer;
                height: 32px;
                color: #ececec;
                font-size: 20px;
            }
        }
    }
    .popup_content{
        background-color: #364c93;
        border-radius: 5px;
        position: relative;
        width: 32rem;
        height: 25rem;
        display: flex;
        align-items:center;
        flex-direction: column;
        // padding: 10px;
    }
}
