<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../icons/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Верстка</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a href="../main/index.html"><img class="header-logo" src="../../icons/logo.png" alt="логотип сайта"></a>
             <nav class="header-nav">
                 <ul class="header-menu">
                     <li class="header-menu-item"><a class="active" href="../main/index.html">Главная</a></li>
                     <li class="header-menu-item"><a href="../services/index.html">Услуги</a></li>
                     <li class="header-menu-item"><a href="../cv/index.html">Портфолио</a></li>
                     <li class="header-menu-item"><a href="../contacts/index.html">Контакты</a></li>
                     <li class="header-menu-item"><a href="../blog/index.html">Блог</a></li>
                 </ul>
             </nav>
             <a class="btn popup-link" href="#popup">Консультация</a>
         </header>
        <section class="content">
            <div class="title">
                <img class="icon" src="../../icons/left-icon.png" alt="декоративный элемент заголовка">
                <h1>Верстка</h1>
                <img class="icon" src="../../icons/right-icon.png" alt="декоративный элемент заголовка">
            </div>
            <div class="container">
                <div>
                    <img src="../../images/services-card-5.png" alt="">
                </div>
                <p>Рекламные буклеты — один из лучших способов продвижения товаров и услуг на рынке. В отличие от листовок они информативнее, а если сравнивать с брошюрами, то менее габаритные за счет складывающейся конструкции. Поэтому многие коммерческие организации и магазины часто отдают предпочтение буклетам, заказывая их печать в типографии.<br>От того, насколько грамотно была проведена верстка, зависит эффективность печатной продукции. Основные требования, предъявляемые к верстке буклетов:<br><br>

                    1.	Макет должен быть выполнен в таких форматах: Ai, Pdf и Eps, иногда подходят Cdr, Tiff или Psd.<br><br>
                    2.	Для верстки необходимо использовать следующие программы: Adobe illustrator, Corel Draw или Adobe Photoshop.<br><br>
                    3.	Изображение должно выходить на 3 миллиметра за линию реза.<br><br>
                    4.	Значимые элементы изображения, такие как текст или графический рисунок, должны располагаться минимум в трех миллиметров от линии реза.<br><br>
                    Во время верстки следует учитывать, что буклет раскрывается, а потому, когда он в развернутом виде, напечатанные на нем изображения должны сочетаться друг с другом. А если это текстовое сочетание, то оно должно быть напечатано в смысловой последовательности.<br>
                    Закончив верстку, можно делать заказ в типографии, указав желаемый тип бумаги и вид печати.<br>
                    Сегодня самые популярные виды печати: цифровой и офсетный. Цифровая печать актуальна при небольшом заказе до 500 экземпляров. При большем количестве рекомендуется офсетный метод, потому что он гарантирует высокое качество. Поэтому делать верстку под офсетную печать рекомендуется только для больших заказов. 
                    </p>
            </div>
        </section>
        <footer class="footer">
            <pre><b>  Весь графический дизайн © 2023. Все права защищены.

  Вся информация, размещенная на сайте, является интеллектуальной собственностью. Любое копирование и использование информации без письменного разрешения запрещено.</b></pre>
        </footer>
    </div>
</body>
</html>