@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 400;
}

body {
  background-color: #162831;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #a3afff;
}
.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger span:nth-child(1) {
  transform: translateY(-10px);
}

.burger span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger span:nth-child(2) {
  opacity: 0;
}

.header.open .burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3160ac;
  max-width: 100%;
}
.header .header-menu {
  list-style: none;
  display: flex;
  padding-left: 150px;
}
.header .header-menu a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
  transition: color 0.3s;
}
.header .header-menu a:hover {
  color: #a3afff;
}
.header .header-menu .header-menu-item:not(:last-child) {
  padding-right: 30px;
}
.header .header-logo {
  max-width: 5rem;
  max-height: 5rem;
  margin-top: 15px;
}
.header .btn {
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 100px;
}
.header .contacts {
  margin: 0 150px;
}
.header .contacts a {
  text-decoration: none;
  color: #ececec;
  transition: color 0.5s;
}
.header .contacts a:hover {
  color: #8d9cff;
}
.header .contacts p {
  padding: 5px 0;
}

.cards .title {
  display: flex;
  justify-content: center;
  color: #ececec;
  margin: 90px 0 80px 0;
}
.cards .title h2 {
  margin: 0 95px;
}
.cards .title .icon {
  height: 28px;
}
.cards .cards-container {
  max-width: 81rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(270px, 270px);
  grid-gap: 18px;
  margin: 0 auto;
  margin-bottom: 115px;
}
.cards .cards-container .card {
  align-self: center;
  justify-self: center;
}
.cards .cards-container .card-1 {
  position: relative;
  grid-row: 1/3;
}
.cards .cards-container .card-1 h2 {
  position: absolute;
  top: 477px;
  left: 50px;
  color: #ececec;
  font-size: 21px;
}
.cards .cards-container .card-2 {
  position: relative;
}
.cards .cards-container .card-2 h2 {
  position: absolute;
  top: 208px;
  left: 31px;
  color: #ececec;
  font-size: 21px;
}
.cards .cards-container .card-3 {
  position: relative;
  max-height: 16.875rem;
}
.cards .cards-container .card-3 img {
  width: 26.625rem;
  height: 16.875rem;
}
.cards .cards-container .card-3 h2 {
  position: absolute;
  top: 208px;
  left: 31px;
  color: #ececec;
  font-size: 21px;
}
.cards .cards-container .card-4 {
  position: relative;
}
.cards .cards-container .card-4 img {
  width: 23.125rem;
  height: 15.938rem;
}
.cards .cards-container .card-4 h2 {
  position: absolute;
  top: 208px;
  left: 31px;
  color: #ececec;
  font-size: 21px;
}
.cards .cards-container .card-5 {
  position: relative;
}
.cards .cards-container .card-5 h2 {
  position: absolute;
  top: 208px;
  left: 31px;
  color: #ececec;
  font-size: 21px;
}
.cards .cards-container .card-6 {
  position: relative;
  grid-row: 3/5;
}
.cards .cards-container .card-7 {
  position: relative;
}
.cards .cards-container .card-8 {
  position: relative;
  grid-row: 3/5;
  grid-column: 3/3;
}
.cards .cards-container .card-9 {
  position: relative;
}
.cards .cards-container .card-10 {
  position: relative;
  grid-row: 5/7;
}
.cards .cards-container .card-11 {
  position: relative;
  grid-row: 5/7;
  grid-column: 2/4;
}
.cards .cards-container .card-12 {
  position: relative;
  height: 32.25rem;
  grid-row: 7/9;
  grid-column: 1/1;
}
.cards .cards-container .card-13 {
  position: relative;
}
.cards .cards-container .card-14 {
  position: relative;
  grid-row: 8/9;
}
.cards .cards-container .card-15 {
  position: relative;
  grid-row: 7/9;
}
.cards .cards-container .card-16 {
  position: relative;
  grid-row: 9/11;
}
.cards .cards-container .card-17 {
  position: relative;
  grid-row: 9/11;
  grid-column: 2/4;
}
.cards .cards-container .card-18 {
  position: relative;
  grid-row: 11/13;
  grid-column: 1/3;
}
.cards .cards-container .card-19 {
  position: relative;
  grid-row: 11/13;
}
.cards .cards-container .card-20 {
  position: relative;
}
.cards .cards-container .card-21 {
  position: relative;
}
.cards .cards-container .card-22 {
  position: relative;
}
.cards div {
  text-align: center;
}
.cards div .btn {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 26.875rem;
  height: 2.813rem;
  background: #34547A;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
.cards div .btn:hover {
  color: #34547A;
  background-color: #f6f6f6;
  border: 1px solid #34547A;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #3160ac;
  max-width: 100%;
  min-height: 10rem;
  text-align: left;
  margin-top: 160px;
  color: #ececec;
  font-size: 14px;
}

@media screen and (max-width: 990px) {
  .burger {
    display: block;
    z-index: 2;
    position: absolute;
    right: 65px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .btn {
    display: none;
  }
  .header .header-nav {
    position: absolute;
    right: -350px;
    top: 0;
    padding: 50px 50px 20px 20px;
    width: 350px;
    background-color: #65a4fd;
    z-index: 1;
    transition: transform 0.5s;
  }
  .header .header-menu {
    flex-direction: column;
    padding: 0 75px;
  }
  .header .header-menu a {
    font-size: 32px;
    display: block;
    padding: 10px 0;
  }
  .header.open .header-nav {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */