@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 400;
}

body {
  background-color: #162831;
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #a3afff;
}
.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger span:nth-child(1) {
  transform: translateY(-10px);
}

.burger span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger span:nth-child(2) {
  opacity: 0;
}

.header.open .burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3160ac;
  max-width: 100%;
}
.header .header-menu {
  list-style: none;
  display: flex;
  padding-left: 150px;
}
.header .header-menu a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
  transition: color 0.3s;
}
.header .header-menu a:hover {
  color: #a3afff;
}
.header .header-menu .header-menu-item:not(:last-child) {
  padding-right: 30px;
}
.header .header-logo {
  max-width: 5rem;
  max-height: 5rem;
  margin-top: 15px;
}
.header .btn {
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 100px;
}
.header .contacts {
  margin: 0 150px;
}
.header .contacts a {
  text-decoration: none;
  color: #ececec;
  transition: color 0.5s;
}
.header .contacts a:hover {
  color: #8d9cff;
}
.header .contacts p {
  padding: 5px 0;
}

.title {
  display: flex;
  justify-content: center;
  color: #ececec;
  margin: 90px 0 80px 0;
}
.title h2 {
  margin: 0 95px;
}
.title .icon {
  height: 28px;
}

.blog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.blog .card-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81.125rem;
  height: 33.125rem;
  border: 2px solid #018ABE;
  border-radius: 20px;
  margin-bottom: 45px;
}
.blog .card-1 .text {
  width: 35.25rem;
  color: #ececec;
}
.blog .card-1 .text span {
  width: 6rem;
  height: 1.875rem;
  background-color: #018ABE;
  border: 5px solid #018ABE;
  border-radius: 5px;
}
.blog .card-1 .text h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.blog .card-1 .text p {
  margin-bottom: 20px;
}
.blog .card-1 .text .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}
.blog .card-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81.125rem;
  height: 33.125rem;
  border: 2px solid #018ABE;
  border-radius: 20px;
  margin-bottom: 45px;
}
.blog .card-2 .text {
  width: 35.25rem;
  color: #ececec;
}
.blog .card-2 .text span {
  width: 6rem;
  height: 1.875rem;
  background-color: #018ABE;
  border: 5px solid #018ABE;
  border-radius: 5px;
}
.blog .card-2 .text h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.blog .card-2 .text p {
  margin-bottom: 20px;
}
.blog .card-2 .text .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}
.blog .card-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81.125rem;
  height: 33.125rem;
  border: 2px solid #018ABE;
  border-radius: 20px;
  margin-bottom: 45px;
}
.blog .card-3 .text {
  width: 35.25rem;
  color: #ececec;
}
.blog .card-3 .text span {
  width: 6rem;
  height: 1.875rem;
  background-color: #018ABE;
  border: 5px solid #018ABE;
  border-radius: 5px;
}
.blog .card-3 .text h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.blog .card-3 .text p {
  margin-bottom: 20px;
}
.blog .card-3 .text .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}
.blog .card-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81.125rem;
  height: 33.125rem;
  border: 2px solid #018ABE;
  border-radius: 20px;
  margin-bottom: 45px;
}
.blog .card-4 .text {
  width: 35.25rem;
  color: #ececec;
}
.blog .card-4 .text span {
  width: 6rem;
  height: 1.875rem;
  background-color: #018ABE;
  border: 5px solid #018ABE;
  border-radius: 5px;
}
.blog .card-4 .text h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.blog .card-4 .text p {
  margin-bottom: 20px;
}
.blog .card-4 .text .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}
.blog .card-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 81.125rem;
  height: 33.125rem;
  border: 2px solid #018ABE;
  border-radius: 20px;
  margin-bottom: 45px;
}
.blog .card-5 .text {
  width: 35.25rem;
  color: #ececec;
}
.blog .card-5 .text span {
  width: 6rem;
  height: 1.875rem;
  background-color: #018ABE;
  border: 5px solid #018ABE;
  border-radius: 5px;
}
.blog .card-5 .text h2 {
  margin-bottom: 40px;
  margin-top: 20px;
}
.blog .card-5 .text p {
  margin-bottom: 20px;
}
.blog .card-5 .text .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  display: inline-block;
  background: #65a4fd;
  color: #f6f6f6;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #3160ac;
  max-width: 100%;
  min-height: 10rem;
  text-align: left;
  margin-top: 160px;
  color: #ececec;
  font-size: 14px;
}

@media screen and (max-width: 990px) {
  .burger {
    display: block;
    z-index: 2;
    position: absolute;
    right: 65px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header .btn {
    display: none;
  }
  .header .header-nav {
    position: absolute;
    right: -350px;
    top: 0;
    padding: 50px 50px 20px 20px;
    width: 350px;
    background-color: #65a4fd;
    z-index: 1;
    transition: transform 0.5s;
  }
  .header .header-menu {
    flex-direction: column;
    padding: 0 75px;
  }
  .header .header-menu a {
    font-size: 32px;
    display: block;
    padding: 10px 0;
  }
  .header.open .header-nav {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */